* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  width: 100vw;
}
main {
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --primaryFont: "Noto Serif Georgian", serif;
  --secondaryFont: "Roboto Mono", monospace;
  --textFont: "Figtree", sans-serif;
  --btnColor: #2a2857;
}

/* navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 4vmin);
  background-color: white;
  color: black;
  border: 1px solid black;
  margin: 2vmin;
  padding: 0.5vh 1vw;
  border-radius: 1rem;
  overflow: hidden;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}
nav .menu-svg {
  display: none;
}
.navbar div :hover {
  cursor: pointer;
}
nav .nav-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3rem;
  font-family: var(--primaryFont);
  font-weight: 400;
  gap: 2rem;
  white-space: nowrap;
}

nav .nav-right {
  display: flex;
  font-family: var(--secondaryFont);
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  white-space: nowrap;
  font-size: 0.8rem;
  gap: 2rem;
}
nav .nav-right .redirect:hover {
  border-bottom: 1px solid black;
}
@media (max-width: 481px) {
  .navbar .nav-left {
    display: none;
    align-items: center;
    justify-content: center;
  }
  .navbar .menu-svg {
    display: flex;
  }
  .menu-svg i {
    font-size: 1.5rem;
  }
  .navbar .nav-right div {
    display: none;
  }
}

/* hero section */

.hero-section {
  background-color: #00a2d9;
  color: white;
  height: 90vh;
  width: 100vw;
  background-image: url("https://www.twoleavestea.com/cdn/shop/files/AlpineBerry_mobile.webp?v=1774284087&width=720");
  background-size: 70%;
  background-position-x: right;
  background-position-y: 10%;
  background-repeat: no-repeat;
  position: relative;
  bottom: 6rem;
  border-bottom: 1px solid black;
}
.hero-section .text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2.5rem;
  width: 35vw;
}

.hero-section .large-text {
  font-size: 2.9rem;
  font-family: var(--primaryFont);
  font-weight: 300;
  letter-spacing: -2px;
}
.hero-section .small-text {
  font-size: 1rem;
  font-family: var(--textFont);
  margin: 1rem 0;
}
.hero-section .shop-now {
  background-color: var(--btnColor);
  color: white;
  padding: 1rem 4rem;
  border-radius: 10rem;
  border: none;
  font-size: 1.1rem;
  border: 1px solid black;
}
.hero-section .shop-now:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
@media (max-width: 400px) {
  .hero-section {
    background-size: contain;
    background-position: center;
  }
  .hero-section .text {
    width: 100vw;
  }
}

/* callout section */
.callout-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50vh;
}
.callout-section div {
  width: 70vw;
  font-size: 3.5rem;
  font-family: var(--primaryFont);
  font-weight: 300;
  text-align: center;
  letter-spacing: -2px;
}
@media (max-width: 481px) {
  .callout-section {
    height: 10vh;
    margin-top: -2rem;
  }
  .callout-section div {
    font-size: 1.4rem;
    width: 90vw;
  }
}

/* bestseller tea section */

.best-sellers-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.best-sellers-heading p {
  background-color: #daaeea;
  border: 1px solid black;
  margin-bottom: 3rem;
  padding: 0.2rem;
  border-radius: 0.5rem;
  transform: rotate(-2deg);
  font-size: 3rem;
  text-transform: uppercase;
  font-family: var(--secondaryFont);
  font-weight: 900;
  letter-spacing: -3px;
  word-spacing: -1rem;
}
@media (max-width: 481px) {
  .best-sellers-heading p {
    font-size: 1.8rem;
    letter-spacing: normal;
    word-spacing: normal;
    margin: 4rem 0;
  }
}
.best-sellers {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 3rem;
  overflow-x: scroll;
}
.best-sellers .product-cards {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  gap: 1.5rem;
}

.best-sellers .product-cards .card {
  height: 50vh;
}
.best-sellers .product-cards .card .color-part {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
}
.best-sellers .product-cards .card .color-part .upper-part {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.best-sellers .product-cards .card .color-part .upper-part .tag {
  font-family: var(--secondaryFont);
  font-size: 1.1rem;
  letter-spacing: -1px;
  word-spacing: -5px;
  font-weight: 700;
  background-color: white;
  border: 1px solid black;
  padding: 0.2rem;
  border-radius: 0.5rem;
}
.best-sellers .product-cards .card .middle-img img {
  transform: scale(10.1rem);
  cursor: pointer;
  height: 40vh;
}
.best-sellers .product-cards .card .color-part .lower-part {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.best-sellers .product-cards .card .color-part .lower-part span:hover {
  cursor: pointer;
  background-color: var(--btnColor);
  color: white;
}
.best-sellers .product-cards .card .color-part .lower-part span {
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid black;
  font-family: var(--textFont);
}
.best-sellers .product-cards .name {
  font-family: var(--primaryFont);
  font-size: 1.3rem;
  margin-top: 1rem;
  letter-spacing: -1px;
}
.best-sellers .product-cards .price {
  font-family: var(--textFont);
  margin: 1rem 0;
}
.best-sellers .product-cards .desc {
  font-family: var(--textFont);
  color: darkslategray;
  font-size: 0.9rem;
}
.best-sellers-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.best-sellers-btn button {
  background-color: var(--btnColor);
  color: white;
  padding: 0.9rem 4rem;
  border-radius: 2rem;
  border: none;
  font-family: var(--textFont);
  font-size: 1.1rem;
  margin: 5rem 0;
}
.best-sellers-btn button:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

/* discover section */
.discover-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 120vh;
}
.discover-section .content {
  width: 60vw;
}
.discover-section .content .heading {
  display: flex;
}
.discover-section .content .heading p {
  background-color: #ff7f31;
  border: 1px solid black;
  margin-bottom: 3rem;
  padding: 0.2rem;
  border-radius: 0.5rem;
  transform: rotate(-2deg);
  font-size: 3rem;
  text-transform: uppercase;
  font-family: var(--secondaryFont);
  font-weight: 900;
  letter-spacing: -3px;
  word-spacing: -1rem;
  margin: 3rem 0;
}
.discover-section .content .large-text {
  font-size: 3.2rem;
  font-family: var(--primaryFont);
  font-weight: 300;
}
.discover-section .content input {
  height: 5rem;
  width: 25vw;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 1rem;
  border: 1px solid black;
  margin: 3rem 0;
}
.discover-section .content p {
  font-family: var(--textFont);
  font-size: 1rem;
  font-weight: 100;
  text-transform: uppercase;
  margin: 3rem 0;
}
.discover-section .content .keywords {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.discover-section .content .keywords .keyword {
  font-size: 1.7rem;
  font-family: var(--primaryFont);
  font-weight: 300;
  background-color: #daeaff;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  white-space: nowrap;
}
@media (max-width:481px) {
  .discover-section .content .heading p{
    font-size: 2rem;
  }
  .discover-section .content .large-text{
    font-size: 1.5rem;
  }
  .discover-section .content input{
    width: 70vw;
  }
  .discover-section .content .keywords .keyword{
    font-size: 1rem;
  }
}